# Bundler
/.bundle
/vendor/bundle

# Gem build artefacts
*.gem
*.rbc

# Logs
/log/

# Test dummy app
/spec/dummy/tmp/
/spec/dummy/log/
/spec/dummy/node_modules/
/spec/dummy/.sass-cache/

# Coverage
/coverage/

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
