<%= moj_interruption_card(heading: "Are you sure you want to change this?") do |card| %>
  <% card.with_body do %>
    <p class="govuk-body">You've changed the person's address from Wales to England. This means that the referral needs to be cancelled.</p>
    <p class="govuk-body">Previous home address: 1 Willow Lane, Newchurch, Kington, HR5 3QF</p>
    <p class="govuk-body">New home address: 9 Elm Street, Whitney-on-Wye, Hereford, HR3 6EH</p>
    <p class="govuk-body">You can go back to undo this change.</p>
  <% end %>
  <% card.with_actions do %>
    <%= govuk_button_link_to "Continue", "#1", inverse: true, role: "button" %>
    <%= govuk_link_to "Go back to application", "#2", inverse: true %>
  <% end %>
<% end %>
